
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; 
}

/* Clearfix */

header::before, header::after {
  display: table;
  content: '';
}

header::after {
  clear: both;
}

/* *** */

.col-12{
  float: left;
  padding-left: 1.04166666%;
  padding-right: 1.04166666%;
}

.col-12 {
  width: 100%;
}

/* .col-12 {
  border: 1px solid black;
} */
